Repository quicwg/ops-drafts, pull requests merged in 2018-10, with the labels that each got.

#46 Illustration of the observable part of the QUIC handshake
  draft-ietf-quic-manageability.md
Labels: -manageability

#47 move ConnID generation language to -applicability
  draft-ietf-quic-manageability.md
Labels: -applicability, -manageability

#49 Remove irrelevant text from security considerations
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#43 New Section on Port Selection
  draft-ietf-quic-applicability.md
Labels: -applicability

#50 Keepalives versus 0RTT, remix
  draft-ietf-quic-applicability.md
Labels: -applicability
