Repository quicwg/ops-drafts, pull requests merged in 2021-04, with the labels that each got.

#299 Try to make flow control consuming and processing crisper
  draft-ietf-quic-applicability.md
Labels: -applicability, editorial

#311 Editorial edit on fallback
  draft-ietf-quic-applicability.md
Labels: -applicability

#313 Rename datagrams in the handshake for clarity.
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial, ready-to-merge

#300 Rewrite Stateful Treatment section
  draft-ietf-quic-manageability.md
Labels: -manageability, check-on-list

#298 Split Connection Closure discussion into two parts
  draft-ietf-quic-applicability.md
Labels: -applicability, check-on-list

#312 Initial endpoint DDoS cooperation text
  draft-ietf-quic-manageability.md
Labels: -manageability, check-on-list

#310 Conn ID and load balancers
  draft-ietf-quic-manageability.md
Labels: -manageability

#305 Update on UDP policing section
  draft-ietf-quic-manageability.md
Labels: -manageability, check-on-list

#314 More explicit stream ordering guidance.
  draft-ietf-quic-applicability.md
Labels: -applicability

#315 Follow up edit on conn ID from previous editorial change
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#317 On time-outs again: this sentence was misplaced...
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#318 Remove redundant NAT/CID paragraph
  draft-ietf-quic-manageability.md
Labels: -manageability, NAT section, editorial

#319 Move sentence about address rewriting
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#316 proposed changes to section headings
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#320 follow up on DDoS section changes
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#309 Remove details on using CID to associate flows
  draft-ietf-quic-manageability.md
Labels: -manageability

#324 Minor appendix reformat
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#323 some deduplication in the introduction
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#322 Clean up the abstract a bit
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial
