Repository quicwg/ops-drafts, pull requests merged in 2021-03, with the labels that each got.

#212 Add proposed section on guiding Path MTU
  draft-ietf-quic-manageability.md
Labels: -manageability, meeting-agenda, ready-to-merge

#233 Recommendation on ACKing
  draft-ietf-quic-applicability.md
Labels: -applicability, meeting-agenda, ready-to-merge

#273 Text on datagrams
  draft-ietf-quic-applicability.md
Labels: -applicability, meeting-agenda, ready-to-merge

#272 Rewrite NAT section to minimum text
  draft-ietf-quic-manageability.md
Labels: -manageability, next revision, ready-to-merge

#279 Remove line about use of 0xff
  draft-ietf-quic-manageability.md
Labels: -manageability, meeting-agenda, ready-to-merge

#285 CID must be present and is directional
  draft-ietf-quic-manageability.md
Labels: -manageability, ready-to-merge

#277 Wording proposal by Gorry on exposing numbers of streams and such
  draft-ietf-quic-applicability.md
Labels: -applicability, editorial, ready-to-merge

#282 Manageability: Contributor and acks
  draft-ietf-quic-manageability.md
Labels: -manageability

#281 Applicability: Contributors and acks
  draft-ietf-quic-applicability.md
Labels: -applicability

#287 Reword TFO/0-rtt sentence.
  draft-ietf-quic-applicability.md
Labels: -applicability, editorial

#288 Connections aren't reset, they are closed.
  draft-ietf-quic-applicability.md
Labels: -applicability, editorial

#214 Clarify routing stability requirement
  draft-ietf-quic-applicability.md
Labels: -manageability, next revision

#308 Reference cleanup
  draft-ietf-quic-applicability.md
  draft-ietf-quic-manageability.md
Labels: ready-to-merge
