Repository quicwg/ops-drafts, pull requests merged in 2021-06, with the labels that each got.

#374 Nits and smaller editorial changes based on issues
  draft-ietf-quic-manageability.md
Labels: -manageability

#380 Note DCID must be extracted from Client Initial
  draft-ietf-quic-manageability.md
Labels: -manageability

#379 More aspects of setting DSCPs
  draft-ietf-quic-manageability.md
Labels: -manageability, editorial

#376 note that DCID change after client initial
  draft-ietf-quic-manageability.md
Labels: -manageability

#375 More explanation about the APLN token "h3"
  draft-ietf-quic-applicability.md
Labels: -applicability

#383 Proposed DSCP text for Applications usage
  draft-ietf-quic-applicability.md
Labels: -applicability, check-on-list
